<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<div id="home-container">
    <form action="/permission_user_form/<%=userlist._id%>" method="post">
        <br>
        <div id="heading">Name<span style="color: red;"> *</span></div>
        <br>
        <input name="name" type="text" value="<%=userlist.name%>" placeholder="Enter your name here ...." required>
        <br>
        <div id="heading">Email<span style="color: red;"> *</span></div>
        <br>
        <input name="email" type="email" value="<%=userlist.email%>" placeholder="Enter your email here ...." required>
        <br>
        <br>
        <table border="1" cellspacing="0">
            <tr>
                <td>Permission Temporary</td>
                <td>
                    <input type="checkbox" style="scale: 2;" name="adminPermissionTemp" style="scale: 2;"
                        <%= userlist.adminPermissionTemp?'checked':'' %>>
                </td>
            </tr>
            <tr>
                <td>Permission Permanent</td>
                <td>
                    <input type="checkbox" style="scale: 2;" name="adminPermissionPerm" style="scale: 2;"
                        <%= userlist.adminPermissionPerm?'checked':'' %>>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>List Name</td>
                <th>Check</td>
            </tr>
            <% for(let permission of permissionlist){ %>
            <tr>
                <td>
                    <%=permission.nickname%>
                </td>
                <td>
                    <input name="permission" value="<%=permission._id%>" type="checkbox" style="scale: 2;"
                        <%=permission.available==="true" ? "checked" : "" %>>
                </td>
            </tr>
            <% } %>
        </table>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <br>
</div>