<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<style>
    @media (max-width: 640px) {
        #home-container table {
            font-size: 8px;
        }
    }
</style>
<div id="home-container">
    <form action="/approvalRecvForm" method="post">
        <input type="text" name="approval" value="<%= approval.id %>" required hidden>
        <br>
        <a href="/customer?id=<%= approval.customer.id %>">
            <button type="button" class="fa-solid fa-link"></button>
        </a>
        <br>
        <table border="1" cellspacing="0">
            <tr>
                <td>Customer Name</td>
                <td><%= approval.customer.name %></td>
            </tr>
            <tr>
                <td>Estimate</td>
                <td>₹ <%= new Intl.NumberFormat('en-IN').format(approval.totalCash) %> /-</td>
            </tr>
            <tr>
                <td>Remark</td>
                <td><%= approval.remark %></td>
            </tr>
            <tr>
                <td>Given By</td>
                <td><%= approval.userGave.name %></td>
            </tr>
            <tr>
                <td>Date Given</td>
                <td><%= convertDate(approval.approvedDate) %></td>
            </tr>
            <% if(approval.receivedDate !== undefined){ %>
            <tr>
                <td>Taken By</td>
                <td><%= approval.userTake.name %></td>
            </tr>
            <tr>
                <td>Date Taken</td>
                <td><%= convertDate(approval.receivedDate) %></td>
            </tr>
            <% } %>
        </table>
        <br>
        <% if(approval.receivedDate === undefined){ %>
        <br>
        <button type="submit" onclick="return (alert(event) && alert(event))">Received</button>
        <br>
        <% } %>
        <br>
        <button type="button" onclick="printTable('printTable',0)">Print Table</button>
    </form>
    <br>
    <br>
    <%- include('layoutStockTable',{stockTable:stockTable}); %>
    <%- include('layoutStockTableCartLink',{stockTable:stockTable}); %>
    <br>
    <br>
</div>
<script src="<%= assetPath('js/printTable.js') %>"></script>
<script>
    function AddToCart(id) {
        $.ajax({
            type: 'get',
            url: '/addToCart?index=' + id,
            success: function (data) {
                new Noty({
                    theme: 'nest',
                    text: data.message,
                    type: data.status,
                    layout: 'topCenter',
                    timeout: 1500
                }).show();
            },
            error: function (err) {
                console.log(err.resposeText);
            }
        });
    }
</script>
<script>
    let printArrHeader = [];
    printArrHeader.push("Approval - <%= approval.customer.name %>")
    printArrHeader.push("<%= convertDate(approval.approvedDate) %>")
    '<% if(approval.receivedDate !== undefined){ %>'
    printArrHeader.push("<%= convertDate(approval.receivedDate) %>")
    '<% } %>'
</script>
<%
    function convertDate(fulldate) {
        let b = new Date(fulldate);
        let time = b.toString().slice(0, 21).split("").reverse().join("").slice(0, 5).split("").reverse().join("");
        let month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        let a = b.getDate() + ' ' + month[b.getMonth()] + ' ' + b.getFullYear() + ' ' + ' at ' + time;
        return a;
    }
%>