<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<style>
    @media (max-width: 640px) {
        #home-container table {
            font-size: 8px;
        }

        #home-container table th,
        #home-container table td {
            padding: 2px;
        }
    }
</style>
<div id="home-container">
    <form action="/approvalForm" method="post">
        <br>
        <input type="text" id="customerinput" placeholder="Search Customer ...." autocomplete="off">
        <br>
        <select id="customeroptions" name="customer" required>
            <option value="">Select Customer ....</option>
            <% for(let i of customerTable){ %>
            <option value="<%= i._id %>"><%= i.searchStr %></option>
            <% } %>
        </select>
        <br>
        <input type="number" name="totalCash" value="<%= totalCash %>" readonly>
        <br>
        <input type="text" id="remark" name="remark" placeholder="Remark ...." autocomplete="off">
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <%- include('layoutStockTableLink',{stockTable:stockTable}); %>
    <br>
</div>
<script>
    let customerTable = JSON.parse((`<%= JSON.stringify(customerTable,null,2) %>`).replaceAll('&#34;', '"'));
</script>
<script src="<%= assetPath('js/customerSearch.js') %>"></script>