<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<style>
    @media (max-width: 640px) {
        #home-container table {
            font-size: 8px;
        }
    }
</style>
<div id="home-container">
    <br>
    <% if(bill.customer){ %>
    <a href="/customer?id=<%= bill.customer.id %>">
        <button type="button" class="fa-solid fa-link"></button>
    </a>
    <br>
    <% } %>
    <table>
        <% if(bill.customer){ %>
        <tr>
            <td>Customer</td>
            <td><%= bill.customer.name %></td>
        </tr>
        <% } %>
        <% if(!bill.totalCash){ %>
        <tr>
            <td>Amount</td>
            <td><%= new Intl.NumberFormat('en-IN').format(bill.amount) %> /-</td>
        </tr>
        <% }else{ %>
        <tr>
            <td>Fine Wt</td>
            <td><%= (bill.totalWt*1).toFixed(3) %> gm</td>
        </tr>
        <tr>
            <td>Total Cash - Gold</td>
            <td><%= new Intl.NumberFormat('en-IN').format((bill.totalCash-(bill.totalWt*bill.goldRate)).toFixed(0)) %> /-</td>
        </tr>
        <tr>
            <td>Gold Rate</td>
            <td><%= new Intl.NumberFormat('en-IN').format(bill.goldRate*1) %> /-</td>
        </tr>
        <tr>
            <td>Total Cash</td>
            <td><%= new Intl.NumberFormat('en-IN').format(bill.totalCash) %> /-</td>
        </tr>
        <% } %>
        <tr>
            <td>Billed By</td>
            <td><%= bill.user.name %></td>
        </tr>
        <tr>
            <td>Bill Date</td>
            <td><%= convertDate(bill.createdAt) %></td>
        </tr>
    </table>
    <br>
    <% if(bill.totalCash){ %>
    <br>
    <a href="/estimateWholesale/<%= bill.id %>">
        <button>Estimate</button>
    </a>
    <% } %>
    <br>
    <form>
        <button type="button" onclick="printTable('printTable',0)">Print Table</button>
    </form>
    <br>
    <% if(!bill.totalCash){ %>
    <%- include('layoutStockTableCartLink',{stockTable:stockTable}); %>
    <%- include('layoutStockTable',{stockTable:stockTable}); %>
    <% }else{ %>
    <table border="1" cellspacing="0" id="printTable">
        <tr class="bold backgroundDark">
            <td>S. No</td>
            <td>Tag No</td>
            <td>Purity</td>
            <td>Net Wt</td>
            <td>Total Fine Wt</td>
            <td>Wastage</td>
            <td>Labour</td>
            <td>Total</td>
        </tr>
        <% for(let i = 0; i < stockTable.length; i++){ %>
        <tr id="eachLine" class="eachLineStock">
            <td><%= (i+1) %></td>
            <td><%= stockTable[i].prefix.name + " " + stockTable[i].ornament.name + (stockTable[i].tag ? ("-" + stockTable[i].tag) : "") %></td>
            <td><%= stockTable[i].purity.name + " | " + stockTable[i].purity.wholesaleMultiplier %></td>
            <td><%= (stockTable[i].netWt * 1).toFixed(3) %> gm</td>
            <td><%= (stockTable[i].netWt * ((stockTable[i].purity.wholesaleMultiplier * 1) + (bill.stoneTable[i].tounch * 1)) / 100).toFixed(3) %> gm</td>
            <td><%= bill.stoneTable[i].tounch %></td>
            <td><%= new Intl.NumberFormat('en-IN').format(bill.stoneTable[i].labour*1) %></td>
            <td>₹ <%= new Intl.NumberFormat('en-IN').format((((stockTable[i].netWt * ((stockTable[i].purity.wholesaleMultiplier * 1) + (bill.stoneTable[i].tounch * 1)) / 100) * bill.goldRate) + (stockTable[i].netWt * bill.stoneTable[i].labour)).toFixed(0)) %> /-</td>
        </tr>
        <% for(let j = 0; j < stockTable[i].stoneTable.length; j++){ %>
        <tr id="eachLine" class="eachLineStone">
            <td></td>
            <td><%= stockTable[i].stoneTable[j].type.name %></td>
            <td><%= (stockTable[i].stoneTable[j].gmWeight*1).toFixed(3) %> gm</td>
            <td></td>
            <td></td>
            <td><%= (stockTable[i].stoneTable[j].ctWeight*1).toFixed(3) %> ct</td>
            <td><%= new Intl.NumberFormat('en-IN').format(bill.stoneTable[i].rate[j]) %></td>
            <td>₹ <%= new Intl.NumberFormat('en-IN').format((stockTable[i].stoneTable[j].ctWeight * bill.stoneTable[i].rate[j]).toFixed(0)) %> /-</td>
        </tr>
        <% } %>
        <% } %>
        <tr class="bold backgroundDark">
            <td><%= stockTable.length %></td>
            <td></td>
            <td><%= (stockTable.reduce((total, item) => total + (item.stoneWt * 1), 0)).toFixed(3) %> gm</td>
            <td><%= (stockTable.reduce((total, item) => total + (item.netWt * 1), 0)).toFixed(3) %> gm</td>
            <td><%= (bill.totalWt).toFixed(3) %> gm</td>
            <td><%= (stockTable.reduce((total, item) => total + (item.stoneWt * 5), 0)).toFixed(3) %> ct</td>
            <td></td>
            <td>₹ <%= new Intl.NumberFormat('en-IN').format(bill.totalCash) %> /-</td>
        </tr>
    </table>
    <% } %>
    <br>
    <br>
</div>
<script src="<%= assetPath('js/printTable.js') %>"></script>
<script>
    function AddToCart(id) {
        $.ajax({
            type: 'get',
            url: '/addToCart?index=' + id,
            success: function (data) {
                new Noty({
                    theme: 'nest',
                    text: data.message,
                    type: data.status,
                    layout: 'topCenter',
                    timeout: 1500
                }).show();
            },
            error: function (err) {
                console.log(err.resposeText);
            }
        });
    }
</script>