<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<div id="home-container">
    <form id="dynamicForm" method="get">
        <br>
        <select id="prefix" name="prefix">
            <% for(let i of prefixTable){ %>
            <option value="<%= i.id %>"><%= i.name ? i.name : "Select Prefix ..." %></option>
            <% } %>
        </select>
        <br>
        <select id="ornament" name="ornament">
            <option value="">Select Ornament ...</option>
            <% for(let i of ornamentTable){ %>
            <option value="<%= i.id %>"><%= i.name %></option>
            <% } %>
        </select>
        <br>
        <select id="stockType" name="stockType">
            <option value="">Select StockType ...</option>
            <% for(let i of stockTypeTable){ %>
            <option value="<%= i.id %>"><%= i.name %></option>
            <% } %>
        </select>
        <br>
        <input type="number" name="tag" placeholder="Tag Number ..." autocomplete="off">
        <br>
        <br>
        <input type="number" name="item" placeholder="SKU Number ..." autocomplete="off">
        <br>
        <button type="submit" onclick="setAction('/categoryForm')">Submit</button>
        <br>
        <button class="fa-solid fa-cart-plus" onclick="setAction('/addToCart')"></button>
    </form>
    <br>
</div>
<script>
    function setAction(actionUrl) {
        var form = document.getElementById('dynamicForm');
        form.action = actionUrl;
        form.submit();
    }
</script>