<link rel="stylesheet" href="<%= assetPath('css/customer_view.css') %>">
<div id="home-container">
    <br>
    <div id="topContainer">
        <br>
        <a href="/editCustomer/<%= customer.id %>">
            <button class="fas fa-pen" type="submit"></button>
        </a>
        <br>
        <span id="heading">Customer Details</span>
        <br>
        <table border="1" cellspacing="0">
            <tr>
                <td>Customer Name</td>
                <td><%= customer.name %></td>
            </tr>
            <tr>
                <td>Customer Address</td>
                <td><%= customer.address %></td>
            </tr>
            <tr>
                <td>Added By</td>
                <td><%= customer.user.name %></td>
            </tr>
            <tr>
                <td>Cash Balance</td>
                <td class="bold backgroundDark">
                    <%= cashBalance < 0 ? "You will get : ₹ " : "You will give : ₹ " %><%= new Intl.NumberFormat('en-IN').format(Math.abs(cashBalance*1)) %> /-
                </td>
            </tr>
            <tr>
                <td>Gold Balance</td>
                <td class="bold backgroundDark">
                    <%= goldBalance < 0 ? "You will get : " : "You will give : " %><%= new Intl.NumberFormat('en-IN').format(Math.abs(goldBalance*1)) %> gm
                </td>
            </tr>
        </table>
        <br>
        <span id="heading">Phone Number</span>
        <br>
        <table border="1" cellspacing="0">
            <% for(let i = 0; i < customer.phNum.length; i++){ %>
            <tr>
                <td>Phone <%= i + 1 %></td>
                <td><%= customer.phNum[i] %></td>
            </tr>
            <% } %>
        </table>
        <br>
        <span id="heading">Care Of</span>
        <br>
        <table border="1" cellspacing="0">
            <% for(let i = 0; i < customer.CO.length; i++){ %>
            <tr>
                <td>C/O <%= i + 1 %></td>
                <td><%= customer.CO[i] %></td>
            </tr>
            <% } %>
        </table>
        <br>
        <span id="heading">Important Dates</span>
        <br>
        <table border="1" cellspacing="0">
            <% for(let i = 0; i < customer.impDates.length; i++){ %>
            <tr>
                <td><%= convertDate(customer.impDates[i].date) %></td>
                <td><%= customer.impDates[i].remark %></td>
            </tr>
            <% } %>
        </table>
        <br>
    </div>
    <br>
    <div id="middleContainer">
        <br>
        <form action="/addPaymentCustomer" method="post" style="border-bottom: 1px solid white;">
            <input type="text" name="id" value="<%= customer.id %>" hidden required>
            <input type="number" name="amount" placeholder="Amount ...." required>
            <br>
            <input type="datetime-local" name="date" id="date"
                value="<%= new Date(new Date().getTime() + 19800000).toISOString().substring(0,16); %>" required>
            <br>
            <input type="text" name="remark" id="remark" placeholder="Remark ...." required autocomplete="off">
            <br>
            <button type="submit">Add Payment</button>
            <br>
        </form>
        <br>
        <form action="/addPaymentCustomer" method="post">
            <input type="text" name="id" value="<%= customer.id %>" hidden required>
            <input type="number" id="payemntGold" step="0.001" placeholder="Gold Wt ...."
                onchange="payemntFine.value=(payemntGold.value*payemntPer.value/100).toFixed(3)" required>
            <br>
            <input type="number" id="payemntPer" step="0.01" placeholder="% ...." value="100"
                onchange="payemntFine.value=(payemntGold.value*payemntPer.value/100).toFixed(3)" required>
            <br>
            <input type="number" name="gold" id="payemntFine" placeholder="Fine Wt ...." readonly required>
            <br>
            <input type="datetime-local" name="date" id="date"
                value="<%= new Date(new Date().getTime() + 19800000).toISOString().substring(0,16); %>" required>
            <br>
            <button type="submit">Add Payment</button>
        </form>
        <br>
    </div>
    <br>
    <div id="bottomContainer">
        <br>
        <% for(let i = 0; i < entries.length; i++){ %>
        <div class="entries" id="<%= entries[i].type %>Entry">
            <div id="leftContainer">
                <% if(entries[i].amount){ %>
                <span id="color">₹ <%= new Intl.NumberFormat('en-IN').format(entries[i].amount) %> /-</span>
                <br>
                <% } %>
                <% if(entries[i].gold){ %>
                <span id="color"><%= new Intl.NumberFormat('en-IN').format(entries[i].gold) %> gm</span>
                <br>
                <% } %>
                <span><%= convertDate(entries[i].date) %></span>
                <br>
                <span><%= entries[i].remark %></span>
            </div>
            <div id="rightContainer">
                <% if(entries[i].bill === "bill"){ %>
                <a href="/bill?id=<%= entries[i].id %>">
                    <button type="submit" class="fa-regular fa-folder-open"></button>
                </a>
                <a href="/delBillCustomer?id=<%= entries[i].id %>&customer=<%= customer.id %>">
                    <button type="submit" onclick="return (alert(event) && alert(event))" class="fas fa-trash"></button>
                </a>
                <% } else if(entries[i].bill === "approval"){ %>
                <a href="/approvalRecvPage?id=<%= entries[i].id %>">
                    <button type="submit" class="fa-regular fa-folder-open"></button>
                </a>
                <% } else { %>
                <a href="/delPaymentCustomer?id=<%= entries[i].id %>&customer=<%= customer.id %>">
                    <button type="submit" onclick="return (alert(event) && alert(event))" class="fas fa-trash"></button>
                </a>
                <% } %>
            </div>
        </div>
        <br>
        <% } %>
        <br>
        <a href="/settleCustomer/<%= customer.id %>">
            <button id="button" onclick="return (alert(event) && alert(event))" type="submit">Settle</button>
        </a>
        <br>
    </div>
    <br>
</div>