<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<style>
    @media (max-width: 640px) {
        #home-container table {
            font-size: 9px;
        }
    }
</style>
<div id="home-container">
    <br>
    <a href="/customerTable">
        <button type="submit">Customer Table</button>
    </a>
    <br>
    <a href="/addCustomer">
        <button type="submit">Add New Customer</button>
    </a>
    <br>
    <form action="/customer" method="get">
        <br>
        <input type="text" id="customerinput" placeholder="Search Customer ...." autocomplete="off">
        <br>
        <select id="customeroptions" name="id" required>
            <option value="">Select Customer ....</option>
            <% for(let i of customerTable){ %>
            <option value="<%= i._id %>"><%= i.searchStr %></option>
            <% } %>
        </select>
        <br>
        <button type="submit">View Customer</button>
    </form>
</div>
<script>
    let customerTable = JSON.parse((`<%= JSON.stringify(customerTable,null,2) %>`).replaceAll('&#34;', '"'));
</script>
<script src="<%= assetPath('js/customerSearch.js') %>"></script>