<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%=title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%= assetPath('images/logo.ico') %>" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://kit.fontawesome.com/9f9e58ef8b.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <link rel="stylesheet" href="<%= assetPath('css/layout.css') %>">
    <%- style %>
</head>

<body>
    <%- include('_header'); %>
    <main id="layout-main">
        <%- body %>
    </main>
</body>
<%- script %>
<script>
    '<% if (flash.success && flash.success.length > 0) { %>'
    new Noty({
        theme: 'nest',
        text: '<%= flash.success %>',
        type: 'success',
        layout: 'topCenter',
        timeout: 1500
    }).show();
    '<% } %>'
    '<% if (flash.error && flash.error.length > 0) { %>'
    new Noty({
        theme: 'nest',
        text: '<%= flash.error %>',
        type: 'error',
        layout: 'topCenter',
        timeout: 1500
    }).show();
    '<% } %>'
</script>
<script>
    function alert(event) {
        const confirmation = confirm("Do you want to continue?");
        if (!confirmation) {
            event.preventDefault();
        }
        return confirmation;
    }
</script>
<script>
    window.addEventListener('pageshow', function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    });
</script>

</html>