<% const tagLabel = s => (s.prefix ? s.prefix.name : '') + (s.tag ? '-' + s.tag : ''); %>
<div id="printTable" class="hidden">
  <table>
    <thead>
      <tr>
        <th>S.No</th>
        <th>SKU</th>
        <th>Tag No</th>
        <th>Purity</th>
        <th>Gross Wt</th>
        <th>Net Wt</th>
        <th>Stone Wt (gms)</th>
        <th>Stone Wt (ct)</th>
        <th>Stock Type</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < stockTable.length; i++) { const s = stockTable[i]; %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= s.index %></td>
        <td><%= tagLabel(s) %></td>
        <td><%= s.purity ? s.purity.name : '' %></td>
        <td><%= s.grossWt.toFixed(3) %></td>
        <td><%= s.netWt.toFixed(3) %></td>
        <td><%= s.stoneWt.toFixed(3) %></td>
        <td><%= (s.stoneWt * 5).toFixed(3) %></td>
        <td><%= s.stockType ? s.stockType.name : '' %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>