<link rel="stylesheet" href="<%= assetPath('css/stock_view.css') %>">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div id="home-container">
    <div id="section1"></div>
    <div id="section2">
        <div id="left">
            <div class="w3-content" id="stockImageContainer">
                <% if (stock.stockImage.length) { %>
                <img class="mySlides" src="/uploads/<%= stock.stockImage[0].fileName %>" style="width:100%;">
                <% } %>
                <% for (let i = 1; i < stock.stockImage.length; i++) { %>
                <img class="mySlides" src="/uploads/<%= stock.stockImage[i].fileName %>"
                    style="width:100%;display:none;">
                <% } %>
                <div class="w3-row-padding w3-section">
                    <% for (let i = 0; i < stock.stockImage.length; i++) { %>
                    <div class="w3-col s4">
                        <img class="demo w3-opacity w3-hover-opacity-off"
                            src="/uploads/<%= stock.stockImage[i].fileName %>" style="width:100%;cursor:pointer"
                            onclick="currentDiv('<%= i+1 %>')">
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="right">
            <br>
            <table cellspacing="0" style="background-color:inherit;border: 0">
                <tr>
                    <td style="border: 0">
                        <button class="far fa-image"
                            onclick="window.location.href = '/stock_image_edit/<%= stock._id %>'"></button>
                    </td>
                    <td style="border: 0">
                        <button class="fas fa-pen"
                            onclick="window.location.href = '/stock_edit/<%= stock._id %>'"></button>
                    </td>
                    <td style="border: 0">
                        <button class="fa-solid fa-cart-plus" onclick="AddToCart('<%= stock._id %>')"></button>
                    </td>
                    <td style="border: 0">
                        <button class="fa-solid fa-print"
                            onclick="window.location.href = '/printTag?id=<%= stock._id %>'"></button>
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <table id="breifTable" cellspacing="0">
                <tr>
                    <td class="bold">Price</td>
                    <td class="bold">
                        ₹&nbsp;<%= new Intl.NumberFormat('en-IN').format((Math.round(stock.sellingPrice/1000))*1000) %>&nbsp;/-
                    </td>
                </tr>
                <tr>
                    <td>Gross Wt</td>
                    <td><%= stock.grossWt.toFixed(3) %></td>
                </tr>
                <tr>
                    <td>Net Wt</td>
                    <td><%= stock.netWt.toFixed(3) %></td>
                </tr>
                <tr>
                    <td>Stone Wt</td>
                    <td><%= stock.stoneWt.toFixed(3) %></td>
                </tr>
                <tr>
                    <td>Purity</td>
                    <td><%= stock.purity.name %></td>
                </tr>
                <tr>
                    <td>Tag Number</td>
                    <td><%= stock.prefix.name + " " + stock.ornament.name + ( stock.tag ? ( "-" + stock.tag ) : "" ) %>
                    </td>
                </tr>
                <tr>
                    <td>Stock Type</td>
                    <td><%= stock.stockType.name %></td>
                </tr>
                <tr>
                    <td>SKU</td>
                    <td><%= stock.index %></td>
                </tr>
            </table>
            <% if(stock.stoneTable.length) {%>
            <br>
            <br>
            <table id="stoneTable" cellspacing="0">
                <tr class="bold backgroundDark">
                    <td>Type</td>
                    <td>Carat</td>
                    <td>Gram</td>
                    <td>Sell Rate<br>(per ct)</td>
                    <td>Total</td>
                </tr>
                <% for (let i = 0; i < stock.stoneTable.length; i++) { %>
                <tr>
                    <td><%= stock.stoneTable[i].type.name %></td>
                    <td><%= stock.stoneTable[i].ctWeight.toFixed(3) %></td>
                    <td><%= stock.stoneTable[i].gmWeight.toFixed(3) %></td>
                    <td>₹&nbsp;<%= new Intl.NumberFormat('en-IN').format(stock.stoneTable[i].sellRate) %>&nbsp;/-</td>
                    <td>
                        ₹&nbsp;<%= new Intl.NumberFormat('en-IN').format((stock.stoneTable[i].sellRate * (stock.stoneTable[i].ctWeight?stock.stoneTable[i].ctWeight:1)).toFixed(0)) %>&nbsp;/-
                    </td>
                </tr>
                <% } %>
            </table>
            <% } %>
            <br>
            <button
                onclick="document.querySelectorAll('.hideTable').forEach(el => el.style.display = el.style.display === 'none' ? 'table' : 'none');">
                View more
            </button>
            <% if(stock.bill) {%>
            <br>
            <table id="soldTable" class="hideTable" style="display: none;" cellspacing="0">
                <% if(stock.bill.customer){ %>
                <tr>
                    <td>Sold To</td>
                    <td><%= stock.bill.customer.name %></td>
                </tr>
                <tr>
                    <td>Customer Link</td>
                    <td><a class="fa-solid fa-link" style="text-decoration: none; color: inherit;"
                            href='/customer?id=<%= stock.bill.customer.id %>'></a></td>
                </tr>
                <tr>
                    <td>Bill Link</td>
                    <td><a class="fa-solid fa-link" style="text-decoration: none; color: inherit;"
                            href='/bill?id=<%= stock.bill.id %>'></a></td>
                </tr>
                <tr>
                    <td>Sold By</td>
                    <td><%= stock.bill.user.name %></td>
                </tr>
                <tr>
                    <td>Sold Date</td>
                    <td><%= convertDate(stock.bill.createdAt) %></td>
                </tr>
                <% }else{ %>
                <tr>
                    <td>Deleted By</td>
                    <td><%= stock.bill.user.name %></td>
                </tr>
                <tr>
                    <td>Deleted Date</td>
                    <td><%= convertDate(stock.bill.createdAt) %></td>
                </tr>
                <% } %>
            </table>
            <br>
            <% } %>
            <br>
            <table id="detailTable" class="hideTable" style="display: none;" cellspacing="0">
                <tr>
                    <td class="bold">Selling Price</td>
                    <td class="bold">₹ <%= new Intl.NumberFormat('en-IN').format(stock.sellingPrice) %> /-</td>
                </tr>
                <tr>
                    <td>In Stock</td>
                    <td><%= stock.isInStock?"YES":"NO" %></td>
                </tr>
                <tr>
                    <td>Created By</td>
                    <td><%= stock.createdBy.name %></td>
                </tr>
                <tr>
                    <td>Created Date</td>
                    <td><%= convertDate(stock.createdDate) %></td>
                </tr>
                <tr>
                    <td>Kaarigar</td>
                    <td><%= stock.kaarigar ? stock.kaarigar.name : "" %></td>
                </tr>
                <tr>
                    <td>HUID</td>
                    <td><%= stock.HUID ? stock.HUID : "" %></td>
                </tr>
                <tr>
                    <td>IsKDM</td>
                    <td><%= stock.isKDM?"YES":"NO" %></td>
                </tr>
                <tr>
                    <td>Remark</td>
                    <td><%= stock.remark %></td>
                </tr>
            </table>
            <% if(stock.approveTable.length) {%>
            <br>
            <br>
            <table id="approveTable" class="hideTable" style="display: none;" cellspacing="0">
                <tr class="bold backgroundDark">
                    <td>Give Name</td>
                    <td>Take Name</td>
                    <td>Customer<br>Name</td>
                    <td>Given Date</td>
                    <td>Recv. Date</td>
                </tr>
                <% for (let i = 0; stock.approveTable && i < stock.approveTable.length; i++) { %>
                <tr>
                    <td><%= stock.approveTable[i].userGave.name %></td>
                    <td><%= convertDate(stock.approveTable[i].approvedDate) %></td>
                    <td><%= stock.approveTable[i].customer.name %></td>
                    <td><%= stock.approveTable[i].userTake?stock.approveTable[i].userTake.name:"" %></td>
                    <td><%= stock.approveTable[i].receivedDate?convertDate(stock.approveTable[i].receivedDate):"" %>
                    </td>
                </tr>
                <% } %>
            </table>
            <% } %>
            <% if(stock.updatedTable.length) {%>
            <br>
            <br>
            <table id="editTable" class="hideTable" style="display: none;" cellspacing="0">
                <tr class="bold backgroundDark">
                    <td>Name</td>
                    <td>Date</td>
                    <td>Remark</td>
                </tr>
                <% for (let i = 0; i < stock.updatedTable.length; i++) { %>
                <tr>
                    <td><%= stock.updatedTable[i].user.name %></td>
                    <td><%= convertDate(stock.updatedTable[i].date) %></td>
                    <td><%= stock.updatedTable[i].remark %></td>
                </tr>
                <% } %>
            </table>
            <% } %>
            <% if(stock.stoneTable.length) {%>
            <br>
            <br>
            <table id="stoneTable" class="hideTable" style="display: none;" cellspacing="0">
                <tr class="bold backgroundDark">
                    <td>Type</td>
                    <td>Carat</td>
                    <td>Pur. Rate<br>(per ct)</td>
                    <td>Total</td>
                    <td>Dealer</td>
                </tr>
                <% for (let i = 0; i < stock.stoneTable.length; i++) { %>
                <tr>
                    <td><%= stock.stoneTable[i].type.name %></td>
                    <td><%= stock.stoneTable[i].ctWeight.toFixed(3) %></td>
                    <td>₹&nbsp;<%= new Intl.NumberFormat('en-IN').format(stock.stoneTable[i].purchaseRate) %>&nbsp;/-</td>
                    <td>
                        ₹&nbsp;<%= new Intl.NumberFormat('en-IN').format((stock.stoneTable[i].purchaseRate * (stock.stoneTable[i].ctWeight?stock.stoneTable[i].ctWeight:1)).toFixed(0)) %>&nbsp;/-
                    </td>
                    <td><%= stock.stoneTable[i].dealerName ? stock.stoneTable[i].dealerName.name : "" %></td>
                </tr>
                <% } %>
            </table>
            <% } %>
            <br>
            <br>
        </div>
    </div>
</div>
<script>
    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = x.length
        }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-opacity-off";
    }

    function AddToCart(id) {
        $.ajax({
            type: 'get',
            url: '/addToCart?index=' + id,
            success: function (data) {
                new Noty({
                    theme: 'nest',
                    text: data.message,
                    type: data.status,
                    layout: 'topCenter',
                    timeout: 1500
                }).show();
            },
            error: function (err) {
                console.log(err.resposeText);
            }
        });
    }
</script>
<script>
    let stock = JSON.parse((`<%= JSON.stringify(stock,null,2) %>`).replaceAll('&#34;', '"'));
</script>