<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<style>
    table {
        font-size: 20px !important;
    }

    @media (max-width: 640px) {
        table {
            font-size: 8px !important;
        }

        #detailList {
            width: 100%;
        }
    }

    #detailList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
<div id="home-container">
    <form action="">
        <br>
        <span class="PageDate" id="heading"><%= date %></span>
        <br>
        <button type="button" onclick="printTable('fullList')">Print Full List</button>
        <br>
    </form>
    <br>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 10px;
            padding: 10px;
            width: 90%;
        }

        .grid-item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: var(--bg2Color);
            padding: 10px;
            border-radius: 5px;
        }
    </style>
    <div class="grid-container">
        <% for(let i = 0; i < checkList.length; i++){ %>
        <label for="checkbox<%= i %>" class="grid-item">
            <span style="color: white;"><%= checkList[i] %></span>
            <span><input style="width: 50px;" id="checkbox<%= i %>" type="checkbox" value="<%= checkList[i] %>"
                    onchange="updateTable(this)"></span>
        </label>
        <% } %>
    </div>
    <br>
    <br>
    <table id="fullList" border="1" cellspacing="0"></table>
    <br>
</div>
<script>
    let fullList = JSON.parse((`<%= JSON.stringify(fullList,null,2) %>`).replaceAll('&#34;', '"'));
</script>
<script src="<%= assetPath('js/stockChangeListCustom.js') %>"></script>
<script src="<%= assetPath('js/printMOB.js') %>"></script>