<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<style>
    @media (max-width: 640px) {
        #home-container table {
            font-size: 8px;
        }
    }
</style>
<div id="home-container">
    <form action="/editMultipleStockForm" method="post">
        <br>
        <span id="heading">Stock Type<span style="color: red;"> *</span></span>
        <br>
        <select id="stockType" name="stockType" required>
            <option value="">Select Stock Type ...</option>
            <% for(let i of stockTypeTable){ %>
            <option value="<%= i.id %>">
                <%= i.name %>
            </option>
            <% } %>
        </select>
        <br>
        <button type="submit">Submit</button>
        <br>
        <br>
        <br>
        <button type="button" onclick="printTable('printTable',0)">Print Table</button>
    </form>
    <br>
    <%- include('layoutStockTableLink',{stockTable:stockTable}); %>
    <%- include('layoutStockTable',{stockTable:stockTable}); %>
    <br>
    <br>
</div>
<script src="<%= assetPath('js/printTable.js') %>"></script>