<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<style>
    table {
        font-size: 20px !important;
    }

    @media (max-width: 640px) {
        table {
            font-size: 6px !important;
        }

        #detailList {
            width: 100%;
        }
    }

    #detailList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
<div id="home-container">
    <form action="">
        <br>
        <span class="PageDate" id="heading"><%= date %></span>
        <br>
        <button type="button" onclick="printTable('fullList')">Print Full List</button>
        <br>
        <button type="button" onclick="printTable('shortFullList')">Print Short List</button>
        <br>
        <button type="button" onclick="printTableDetail('printList')">Print Detail List</button>
    </form>
    <table id="fullList" border="1" cellspacing="0" hidden>
        <thead>
            <tr class="bold backgroundDark">
                <td></td>
                <td colspan="3">Opening</td>
                <td colspan="3">Day Arrival</td>
                <td colspan="3">Day Sale</td>
                <td colspan="3">Day Delete</td>
                <td colspan="3">Approval</td>
                <td colspan="3">Closing</td>
                <td colspan="3">Total</td>
            </tr>
            <tr class="bold backgroundDark">
                <td>Item</td>
                <td>No.</td>
                <td>St Wt (ct)</td>
                <td>Gr Wt (gm)</td>
                <td>No.</td>
                <td>St Wt (ct)</td>
                <td>Gr Wt (gm)</td>
                <td>No.</td>
                <td>St Wt (ct)</td>
                <td>Gr Wt (gm)</td>
                <td>No.</td>
                <td>St Wt (ct)</td>
                <td>Gr Wt (gm)</td>
                <td>No.</td>
                <td>St Wt (ct)</td>
                <td>Gr Wt (gm)</td>
                <td>No.</td>
                <td>St Wt (ct)</td>
                <td>Gr Wt (gm)</td>
                <td>No.</td>
                <td>St Wt (ct)</td>
                <td>Gr Wt (gm)</td>
            </tr>
        </thead>
        <tbody>
            <% for(let i of fullList){ %>
            <tr>
                <td><%= i.name %></td>
                <td><%= i.opening && i.opening.total ? i.opening.total : "" %></td>
                <td><%= i.opening && i.opening.stoneWt ? (i.opening.stoneWt*5).toFixed(3) : "" %></td>
                <td><%= i.opening && i.opening.grossWt ? (i.opening.grossWt*1).toFixed(3) : "" %></td>
                <td><%= i.arrival && i.arrival.total ? i.arrival.total : "" %></td>
                <td><%= i.arrival && i.arrival.stoneWt ? (i.arrival.stoneWt*5).toFixed(3) : "" %></td>
                <td><%= i.arrival && i.arrival.grossWt ? (i.arrival.grossWt*1).toFixed(3) : "" %></td>
                <td><%= i.sold && i.sold.total ? i.sold.total : "" %></td>
                <td><%= i.sold && i.sold.stoneWt ? (i.sold.stoneWt*5).toFixed(3) : "" %></td>
                <td><%= i.sold && i.sold.grossWt ? (i.sold.grossWt*1).toFixed(3) : "" %></td>
                <td><%= i.delete && i.delete.total ? i.delete.total : "" %></td>
                <td><%= i.delete && i.delete.stoneWt ? (i.delete.stoneWt*5).toFixed(3) : "" %></td>
                <td><%= i.delete && i.delete.grossWt ? (i.delete.grossWt*1).toFixed(3) : "" %></td>
                <td><%= i.approval && i.approval.total ? i.approval.total : "" %></td>
                <td><%= i.approval && i.approval.stoneWt ? (i.approval.stoneWt*5).toFixed(3) : "" %></td>
                <td><%= i.approval && i.approval.grossWt ? (i.approval.grossWt*1).toFixed(3) : "" %></td>
                <td><%= i.closing && i.closing.total ? i.closing.total : "" %></td>
                <td><%= i.closing && i.closing.stoneWt ? (i.closing.stoneWt*5).toFixed(3) : "" %></td>
                <td><%= i.closing && i.closing.grossWt ? (i.closing.grossWt*1).toFixed(3) : "" %></td>
                <td><%= i.total && i.total.total ? i.total.total : "" %></td>
                <td><%= i.total && i.total.stoneWt ? (i.total.stoneWt*5).toFixed(3) : "" %></td>
                <td><%= i.total && i.total.grossWt ? (i.total.grossWt*1).toFixed(3) : "" %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <br>
    <table id="shortFullList" border="1" cellspacing="0" hidden>
        <thead>
            <tr class="bold backgroundDark">
                <td></td>
                <td colspan="3">Opening</td>
                <td colspan="3">Day Arrival</td>
                <td colspan="3">Day Sale</td>
                <td colspan="3">Day Delete</td>
                <td colspan="3">Approval</td>
                <td colspan="3">Closing</td>
                <td colspan="3">Total</td>
            </tr>
            <tr class="bold backgroundDark">
                <td>Item</td>
                <td>No.</td>
                <td>St Wt (ct)</td>
                <td>Gr Wt (gm)</td>
                <td>No.</td>
                <td>St Wt (ct)</td>
                <td>Gr Wt (gm)</td>
                <td>No.</td>
                <td>St Wt (ct)</td>
                <td>Gr Wt (gm)</td>
                <td>No.</td>
                <td>St Wt (ct)</td>
                <td>Gr Wt (gm)</td>
                <td>No.</td>
                <td>St Wt (ct)</td>
                <td>Gr Wt (gm)</td>
                <td>No.</td>
                <td>St Wt (ct)</td>
                <td>Gr Wt (gm)</td>
                <td>No.</td>
                <td>St Wt (ct)</td>
                <td>Gr Wt (gm)</td>
            </tr>
        </thead>
        <tbody>
            <% for(let i of shortFullList){ %>
            <tr>
                <td><%= i.name %></td>
                <td><%= i.opening && i.opening.total ? i.opening.total : "" %></td>
                <td><%= i.opening && i.opening.stoneWt ? (i.opening.stoneWt*5).toFixed(3) : "" %></td>
                <td><%= i.opening && i.opening.grossWt ? (i.opening.grossWt*1).toFixed(3) : "" %></td>
                <td><%= i.arrival && i.arrival.total ? i.arrival.total : "" %></td>
                <td><%= i.arrival && i.arrival.stoneWt ? (i.arrival.stoneWt*5).toFixed(3) : "" %></td>
                <td><%= i.arrival && i.arrival.grossWt ? (i.arrival.grossWt*1).toFixed(3) : "" %></td>
                <td><%= i.sold && i.sold.total ? i.sold.total : "" %></td>
                <td><%= i.sold && i.sold.stoneWt ? (i.sold.stoneWt*5).toFixed(3) : "" %></td>
                <td><%= i.sold && i.sold.grossWt ? (i.sold.grossWt*1).toFixed(3) : "" %></td>
                <td><%= i.delete && i.delete.total ? i.delete.total : "" %></td>
                <td><%= i.delete && i.delete.stoneWt ? (i.delete.stoneWt*5).toFixed(3) : "" %></td>
                <td><%= i.delete && i.delete.grossWt ? (i.delete.grossWt*1).toFixed(3) : "" %></td>
                <td><%= i.approval && i.approval.total ? i.approval.total : "" %></td>
                <td><%= i.approval && i.approval.stoneWt ? (i.approval.stoneWt*5).toFixed(3) : "" %></td>
                <td><%= i.approval && i.approval.grossWt ? (i.approval.grossWt*1).toFixed(3) : "" %></td>
                <td><%= i.closing && i.closing.total ? i.closing.total : "" %></td>
                <td><%= i.closing && i.closing.stoneWt ? (i.closing.stoneWt*5).toFixed(3) : "" %></td>
                <td><%= i.closing && i.closing.grossWt ? (i.closing.grossWt*1).toFixed(3) : "" %></td>
                <td><%= i.total && i.total.total ? i.total.total : "" %></td>
                <td><%= i.total && i.total.stoneWt ? (i.total.stoneWt*5).toFixed(3) : "" %></td>
                <td><%= i.total && i.total.grossWt ? (i.total.grossWt*1).toFixed(3) : "" %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <br>
    <div id="detailList">
        <span id="heading">Arrival Table</span>
        <%- include('layoutStockTableCartLink',{stockTable:arrivalTable}); %>
        <br>
        <span id="heading">Sold Table</span>
        <%- include('layoutStockTableCartLink',{stockTable:soldTable}); %>
        <br>
        <span id="heading">Deleted Table</span>
        <%- include('layoutStockTableCartLink',{stockTable:deletedTable}); %>
        <br>
        <span id="heading">Edit Table</span>
        <%- include('layoutStockTableCartLink',{stockTable:editTable}); %>
        <br>
        <span id="heading">Approval Given Table</span>
        <%- include('layoutStockTableCartLink',{stockTable:approvalGiveTable}); %>
        <br>
        <span id="heading">Approval Taken Table</span>
        <%- include('layoutStockTableCartLink',{stockTable:approvalTakeTable}); %>
    </div>
    <div id="printList">
        <span id="heading" hidden>Arrival Table</span>
        <%- include('layoutStockTable',{stockTable:arrivalTable}); %>
        <br>
        <span id="heading" hidden>Sold Table</span>
        <%- include('layoutStockTable',{stockTable:soldTable}); %>
        <br>
        <span id="heading" hidden>Deleted Table</span>
        <%- include('layoutStockTable',{stockTable:deletedTable}); %>
        <br>
        <span id="heading" hidden>Edit Table</span>
        <%- include('layoutStockTable',{stockTable:editTable}); %>
        <br>
        <span id="heading" hidden>Approval Given Table</span>
        <%- include('layoutStockTable',{stockTable:approvalGiveTable}); %>
        <br>
        <span id="heading" hidden>Approval Taken Table</span>
        <%- include('layoutStockTable',{stockTable:approvalTakeTable}); %>
    </div>
    <br>
</div>
<script src="<%= assetPath('js/printMOB.js') %>"></script>
<script src="<%= assetPath('js/printMOBDetail.js') %>"></script>
<script>
    function AddToCart(id) {
        $.ajax({
            type: 'get',
            url: '/addToCart?index=' + id,
            success: function (data) {
                new Noty({
                    theme: 'nest',
                    text: data.message,
                    type: data.status,
                    layout: 'topCenter',
                    timeout: 1500
                }).show();
            },
            error: function (err) {
                console.log(err.resposeText);
            }
        });
    }
</script>