<% activeNav = 'reports' %>
<%- include('reports/_tokens') %>
<div class="pb-10 space-y-6">
  <%- include('reports/_toolbar', {
        pageTitle: title || 'Updates List',
        date: date,
        actions: [
            { label: 'Print Full', icon: 'fa-print', onclick: "printTable('fullList')" },
            { label: 'Print Short', icon: 'fa-print', onclick: "printTable('shortFullList')" },
            { label: 'Print Detail', icon: 'fa-file-lines', onclick: "printTableDetail('printList')" }
        ]
    }) %>
  <%- include('reports/_daily_summary_table', { listRows: fullList, tableId: 'fullList', hidden: true, stoneMultiplier: 5 }) %>
  <%- include('reports/_daily_summary_table', { listRows: shortFullList, tableId: 'shortFullList', hidden: true, stoneMultiplier: 5 }) %>
  <div id="detailList" class="space-y-2">
    <%- include('reports/_stock_detail_table', { title: 'Arrival Table', sectionId: 'arrival-table', stockTable: arrivalTable, paginate: true }) %>
    <%- include('reports/_stock_detail_table', { title: 'Sold Table', sectionId: 'sold-table', stockTable: soldTable, paginate: true }) %>
    <%- include('reports/_stock_detail_table', { title: 'Deleted Table', sectionId: 'deleted-table', stockTable: deletedTable, paginate: true }) %>
    <%- include('reports/_stock_detail_table', { title: 'Edit Table', sectionId: 'edit-table', stockTable: editTable, paginate: true }) %>
    <%- include('reports/_stock_detail_table', { title: 'Approval Given Table', sectionId: 'approval-given-table', stockTable: approvalGiveTable, paginate: true }) %>
    <%- include('reports/_stock_detail_table', { title: 'Approval Taken Table', sectionId: 'approval-taken-table', stockTable: approvalTakeTable, paginate: true }) %>
  </div>
  <div id="printList" class="hidden">
    <%- include('reports/_stock_detail_table', { title: 'Arrival Table', stockTable: arrivalTable, withActions: false }) %>
    <%- include('reports/_stock_detail_table', { title: 'Sold Table', stockTable: soldTable, withActions: false }) %>
    <%- include('reports/_stock_detail_table', { title: 'Deleted Table', stockTable: deletedTable, withActions: false }) %>
    <%- include('reports/_stock_detail_table', { title: 'Edit Table', stockTable: editTable, withActions: false }) %>
    <%- include('reports/_stock_detail_table', { title: 'Approval Given Table', stockTable: approvalGiveTable, withActions: false }) %>
    <%- include('reports/_stock_detail_table', { title: 'Approval Taken Table', stockTable: approvalTakeTable, withActions: false }) %>
  </div>
</div>
<%- include('reports/_print_script') %>
<%- include('reports/_pagination_script') %>
<script>
  [{
      bodyId: 'shortFullListVisibleBody',
      paginationId: 'shortFullListVisiblePagination',
      summaryId: 'shortFullListVisibleSummary',
      perPageSelectId: 'shortFullListVisiblePerPage'
    },
    {
      bodyId: 'arrival-tableBody',
      paginationId: 'arrival-tablePagination',
      summaryId: 'arrival-tableSummary',
      perPageSelectId: 'arrival-tablePerPage'
    },
    {
      bodyId: 'sold-tableBody',
      paginationId: 'sold-tablePagination',
      summaryId: 'sold-tableSummary',
      perPageSelectId: 'sold-tablePerPage'
    },
    {
      bodyId: 'deleted-tableBody',
      paginationId: 'deleted-tablePagination',
      summaryId: 'deleted-tableSummary',
      perPageSelectId: 'deleted-tablePerPage'
    },
    {
      bodyId: 'edit-tableBody',
      paginationId: 'edit-tablePagination',
      summaryId: 'edit-tableSummary',
      perPageSelectId: 'edit-tablePerPage'
    },
    {
      bodyId: 'approval-given-tableBody',
      paginationId: 'approval-given-tablePagination',
      summaryId: 'approval-given-tableSummary',
      perPageSelectId: 'approval-given-tablePerPage'
    },
    {
      bodyId: 'approval-taken-tableBody',
      paginationId: 'approval-taken-tablePagination',
      summaryId: 'approval-taken-tableSummary',
      perPageSelectId: 'approval-taken-tablePerPage'
    }
  ].forEach(function(cfg) {
    if (document.getElementById(cfg.bodyId)) paginateDomTable(cfg);
  });
</script>