<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            width: 100vw;
            height: 100vh;
            font-family: sans-serif;
        }

        #tag {
            font-size: 10px;
            width: 100%;
            height: 100%;
            overflow: none;
            display: flex;
            flex-direction: row;
        }

        #left,
        #right {
            display: flex;
            flex-direction: column;
            font-weight: bold;
            width: 27%;
            height: 100%;
            padding-left: 25px;
        }

        #right {
            padding-left: 10px;
        }

        span {
            white-space: nowrap;
        }

        #extra {
            width: 46%;
        }
    </style>
</head>

<body>
    <% for(let i of stockTable){ %>
        <div id="tag">
            <div id="left">
                <span>
                    <%= i.prefix.name %>
                        <%= i.ornament.name %> # <%= i.tag %> (<%= i.stockType.name %>)
                </span>
                <span>G. Wt. <%= (i.grossWt * 1).toFixed(3) %> gm</span>
                <span>N. Wt. <%= (i.netWt * 1).toFixed(3) %> gm</span>
                <span>
                    <%= i.purity.name %>
                        <% if(i.kaarigar){ %> | <%= i.kaarigar.name %>
                                <% } %>
                </span>
            </div>
            <div id="right">
                <span>
                    <%= tag_name %> | <%= i.index %>
                </span>
                <% for(let j of i.stoneTable){ %>
                    <span>
                        <%= j.type.name %> - <%= (j.ctWeight * 1).toFixed(3) %> ct
                    </span>
                    <% } %>
                        <span>₹&nbsp;<%= i.sellingPrice.toFixed(0) %>&nbsp;/-</span>
            </div>
            <div id="extra"></div>
        </div>
        <% } %>
</body>
<script>
    window.print();
</script>

</html>